body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.white-heading {
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.sub-heading {
  font-size: 1.5rem;
  font-weight: 600;
}
/* Headings End */


/* Download Buttons */
.download-btn {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.download-btn.btn-outline-light {
  margin-left: 2rem;
}
/* Download Buttons End */


/* Title Section*/
#title {
  background-color: #ff4c68;
  text-align: left;
}

.top-container {
  padding: 3% 15% 6.25rem;
}

.navbar-brand {
  font-style: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}


.navbar {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
}

.screenshot-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 1rem;
}
/* Title Section End*/


/* Features Section*/
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.ftr-col {
  padding: 4%;
}

.ftr-col > i {
  color: #ef8172;
  margin-bottom: 1rem;
}

.ftr-col > i:hover {
  color: #ff4c68;
}
/* Feature Section End*/


/* Testimonial Section*/
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 10% 25%;
}

.test-img {
  width: 10%;
  border-radius: 100%;
  margin: 1.25rem;
}
/* Testimonial Section End*/


/* Press Section*/
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 1.25rem 1.25rem 3.125rem;
}

#pricing {
  padding: 10% 7%;margin-top: 3rem;
  margin-bottom: 3rem;
}

.card {
  height: 100%;
}

.idk-what-to-call-this {
  margin-bottom: 3.5rem;
}

.price-col {
  padding: 3% 2%;
}
/* Pricing Section End*/


/* Call To Action */
#cta {
  background-color: #ff4c68;
  padding: 10% 7%;
}
/* Call To Action End*/


/* Footer Section*/
#footer {
  padding: 10% 7%
}

.footer-link {
  padding: 2% 1.5%;
  color: black;
}

.footer-link:hover {
  color: #8f8f8f;
}
/* Footer Section End*/


/* Media Queries*/
@media all and (max-width: 992px) {
  #title {
   text-align: center;
  }
  .btn-outline-light{
    margin-left:0;
  }
  .screenshot-image {
    position: static;
    margin-top: 5rem;
    transform: rotate(0deg);
  }
}
/* Media Queries End*/
