body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

h2 {
  font-family: 'Montserrat', sans-serif;;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-family:  'Montserrat', sans-serif;
  font-weight: 600;
}

p {
  color: #8f8f8f;
}

.top-container {
  padding: 3% 15% 6.25rem;
}

.navbar-brand {
  font-style: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}



.navbar {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
}

.text-hero {
  margin-top: auto;
  margin-bottom: auto;
}

.hero-btn {
  margin-top: 1rem;
}

.btn-outline-light {
  margin-left: 1rem;
}

.screenshot-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 1rem;
}
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.ftr-col {
  padding: 4%;
  text-align: center;
}

.ftr-col > i {
  color: #ef8172;
  margin-bottom: 1rem;
}

.ftr-col > i:hover {
  color: #ff4c68;
}




#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 10% 25%;
}

.test-img {
  width: 10%;
  border-radius: 100%;
  margin: 1.25rem;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 1.25rem 1.25rem 3.125rem;
}

#pricing {
  padding: 10% 7%;
  text-align: center;
}

.card {
  height: 100%;
}

.idk-what-to-call-this {
  margin-bottom: 3.5rem;
}

.price-col {
  padding: 3% 2%;
}


@media all and (max-width: 992px) {

  h1{
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem
  }
  .navbar-brand{
    font-size: 1.25rem;
  }
  .text-hero {
   text-align: center;
  }
  .btn-outline-light{
    margin-left:0;
  }
  .screenshot-image {
    position: static;
    margin-top: 5rem;
    margin-left: 25%;
  }
}
